body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}


a {
  text-decoration: none;
}

.paperBtn {
  width: 100%;
  padding: 0 !important;
  .MuiPaper-root {
    width: 100%;
    text-align: left;
    text-transform: none;
  }

  :hover {
    background: #EFF5C3;
  }
}