$SUCCESS_COLOR: #A8ED8E;
$SUCCESS_DIMMED_COLOR: #c2fdac;

$PRIMARY_COLOR: #BCABA8;
$SECONDARY_COLOR: #DCD6D1;
$THIRD_COLOR: #DBDBE1;
$ACCENT_COLOR: #EFE5C3;
$ACCENT2_COLOR: #FFFCE5;
$ACCENT3_COLOR: #fcff77;

$TEXT_DIMMED_COLOR: #777777;
$ACCENT3_DIMMED_COLOR: #dfe37e;

$SUCCESS_COLOR: #A8ED8E;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-webkit-scrollbar {display:none;}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}


a {
  text-decoration: none;
}

.paperBtn {
  width: 100%;
  padding: 0 !important;

  .MuiPaper-root {
    width: 100%;
    text-align: left;
    text-transform: none;
  }

  :hover {
    background: #EFF5C3;
    border-radius: 20px !important;
  }
}

.addMemberBtn {
  width: 100%;

  .MuiTypography-root {
    text-transform: none;
  }

  &:hover {
    background: $ACCENT3_DIMMED_COLOR !important;
  }
}

.rounded {
  border-radius: 20px !important;
}

.successBtn {
  background-color: $SUCCESS_COLOR !important;
}

.selectedTeam {
  background-color: $SUCCESS_COLOR !important;
}

.ticketNameLabel input {
  text-align: center;
}

.MuiGridList-root {
  margin: 0 !important;
  margin-top: 1.2% !important;
}
